@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,500&display=swap');

html {
  min-width: 320px;

  margin: 0px;
  padding: 0px;

  /* 12pt = 16px */
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;

  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;

  color: #232323;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  cursor: default;
}

#root {
  width: 100%;

  overflow: auto;

  scroll-behavior: smooth;
}

#root * {
  scroll-behavior: smooth;
}
